*
  margin: 0
  padding: 0
body
  overflow-x: hidden
hr
  background-color: $light
  opacity: 1
.slick-slide:active, .slick-slide:focus
  outline: none

.btn
  display: flex
  justify-content: center
  align-content: center

.blue-btn
  font-family: 'Roboto'
  font-style: normal
  font-weight: 700
  font-size: 18px
  line-height: 21px
  color: $light
  background-color: $blue
  padding: 16px 36px
  border-radius: 5px
  cursor: pointer
  transition: all 0.4s ease-in
  &:hover
    background-color: $blue-hover
    color: $light
    transition: all 0.4s ease-in
  &:active
    background-color: $blue-active
    transition: all 0.1s ease