.about-in-nums
  // .about-in-nums__item
  &__item
    display: flex
    flex-direction: column
  // .about-in-nums__title
  &__title
    display: block

  // .about-in-nums__subtitle
  &__subtitle
    display: block


.container

.row

