.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  // .header__block
  &__block
    hr
      color: $light

.header.scroll
  background-color: rgba(0, 0, 0, 0.8)

.container

.navbar
  +intro-regular
  display: flex
  flex-direction: row
  align-items: center
  align-content: center
  // .navbar__logo
  &__logo
  &__links
    margin: 0
    padding: 0
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 700px
    li
      list-style-type: none
    a
      text-decoration: none
      color: $light
      -webkit-transition: all 0.4s ease
          transition: all 0.4s ease
    a:after
      content: ""
      display: block
      position: relative
      right: 0
      bottom: -3px
      width: 0%
      height: 2px
      background-color: $light
      transition: width 0.4s
    a:hover
      color: $blue
    a:hover:after
      content: ""
      width: 100%
      display: block
      position: relative
      left: 0
      bottom: -3px
      height: 2px
      background-color: $blue
      transition: width 0.4s



.search-form

.hero
  // .hero__pagination
  &__pagination


.hero-slider
  // .hero-slider__item
  &__item


.hero-slide
  position: relative
  // .hero-slide__img
  &__img
    position: relative
    & img
      display: block
      height: auto
      width: 100%
  // .hero-slide__text
  &__text
    color: $light
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 1
    display: -webkit-box
    display: -webkit-flex
    display: -ms-flexbox
    display: flex
    -webkit-box-pack: center
    -webkit-justify-content: center
        -ms-flex-pack: center
            justify-content: center
    -webkit-box-align: center
    -webkit-align-items: center
        -ms-flex-align: center
            align-items: center
  // .hero-slide__title
  &__title

  // .hero-slide__button
  &__button



.btn


