.header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  // .header__block
  &__block

.container

.navbar
  +intro-regular
  // .navbar__logo
  &__logo


.search-form

.hero
  // .hero__pagination
  &__pagination


.hero-slider
  // .hero-slider__item
  &__item


.hero-slide
  // .hero-slide__img
  &__img
    position: relative
  

  // .hero-slide__text
  &__text

  // .hero-slide__title
  &__title

  // .hero-slide__button
  &__button



.btn


