.products
  background-color: $light-bg
  // .products__block
  &__block
    padding: 100px 0
  // .products__title
  &__title
    +intro-regular
    font-size: 48px
    line-height: 48px
    margin-bottom: 40px
  // .products__item
  &__item
    position: relative


.product-item
  +bw-image
  -webkit-transition: all 0.4s ease
          transition: all 0.4s ease
  // .product-item__img
  &:hover
    +dis-bm-image
    -webkit-transition: all 0.4s ease
          transition: all 0.4s ease
  &__img
    z-index: -1
  // .product-item__text
  &__text
    display: flex
    justify-content: space-between
    position: absolute
    left: 32px
    right: 32px
    bottom: 20px
    color: $light

    

  // .product-item__title
  &__title
    +intro-regular
    font-size: 16px
    line-height: 142%
    max-width: 215px
  // .product-item__number
  &__number
    display: flex
    align-items: flex-end